.btn {
  background-color: var(--dark);
  color: var(--white);
  border-radius: 10px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  font-size: 1em;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--dark);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: rgb(249, 249, 249);
  margin: auto;
  border: 1px solid var(--gray);
}

.modal-header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  color: var(--white);
}

.close {
  color: var(--white);
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: var(--gray);
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  height: 420px;
  width: 100%;
  text-align: center;
  vertical-align: center;
}

.editor-container {
  height: 400px;
  border: 2px solid var(--dark);
}

.code-editor {
  width: 100%;
  height: 397px;
  padding: 12px 20px;
  border: none;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.modal-footer {
  height: 60px;
  width: 100%;
}

.modal-footer .run-button {
  width: 100%;
  background-color: var(--dark);
  color: var(--white);
  border-radius: 15px;
  height: 40px;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
}

.modal-content {
  background-color: rgb(249, 249, 249);
  margin: auto;
  border: 1px solid var(--gray);
  width: 50%;
}

@media only screen and (min-width: 768px) {
  .modal-content {
    width: 50%;
  }
  .modal-header {
    padding-left: 1%;
    padding-right: 1%;
  }
  .modal-body {
    padding: 1%;
  }
  .modal-footer {
    padding: 1%;
  }
}

@media only screen and (max-width: 768px) {
  .modal-content {
    width: 90%;
  }
  .modal-header {
    padding-left: 4%;
    padding-right: 4%;
  }
  .modal-body {
    padding: 4%;
  }
  .modal-footer {
    padding: 4%;
  }
}
