.register-container {
    height: 600px;
    align-items: center;
}

.register-box {
    height: 500px;
    border: 1px solid var(--dark);
}

@media only screen and (min-width:768px) {

    .register-container {
        width: 15%;
    }
}

@media only screen and (max-width: 768px) {
    .register-container {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
    }
}