.ALU-container {
  position: absolute;
  bottom: 425px;
  left: 275px;
}
.ALU-box {
  position: relative;
  width: 300px;
  height: 80px;
  border: 2px solid var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ALU-content {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  font-size: 12px;
}
.ALU-content-value {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}

.DR-to-ALU {
  position: absolute;
  top: 80px;
  left: 15px;
  width: 3px;
  height: 38px;
  background-color: var(--dark);
}

.DR-to-ALU::before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent var(--dark) transparent;
  top: -11px;
  left: 50%;
  margin-left: -10px;
}

.DR-to-ALU-top::before {
  border-color: transparent transparent var(--green) transparent;
}

.B-to-ALU {
  position: absolute;
  top: 80px;
  left: 100px; /*change this*/
  width: 3px;
  height: 110px; /*change this*/
  background-color: var(--dark);
}

.B-to-ALU::before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent var(--dark) transparent;
  top: -11px;
  left: 50%;
  margin-left: -10px;
}

.B-to-ALU::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: var(--dark) transparent transparent transparent;
  bottom: -11px;
  left: 50%;
  margin-left: -10px;
  z-index: 1;
}

.B-to-ALU-top::before {
  border-color: transparent transparent var(--green) transparent;
}
.B-to-ALU-top::after {
  border-width: 0px;
}
.B-to-ALU-bottom::after {
  border-color: var(--green) transparent transparent transparent;
}
.B-to-ALU-bottom::before {
  border-width: 0px;
}

.AC-to-ALU {
  position: absolute;
  top: 80px;
  left: 200px; /*change this*/
  width: 3px;
  height: 160px; /*change this*/
  background-color: var(--dark);
}

.AC-to-ALU::before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent var(--dark) transparent;
  top: -11px;
  left: 50%;
  margin-left: -10px;
}

.AC-to-ALU::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: var(--dark) transparent transparent transparent;
  bottom: -11px;
  left: 50%;
  margin-left: -10px;
  z-index: 1;
}

.AC-to-ALU-top::before {
  border-color: transparent transparent var(--green) transparent;
}
.AC-to-ALU-top::after {
  border-width: 0px;
}
.AC-to-ALU-bottom::after {
  border-color: var(--green) transparent transparent transparent;
}
.AC-to-ALU-bottom::before {
  border-width: 0px;
}
