.B-container {
  position: absolute;
  bottom: 275px; /*change this*/
  left: 325px; /*change this*/
}

@media screen and (max-width: 2600px) and (min-width: 1700px) {
  .B-container {
    left: 415px;
  }
}

@media screen and (min-width: 2600px) {
  .B-container {
    left: 715px;
  }
}

.B-box {
  width: 100px;
  height: 40px;
  border: 2px solid var(--dark);
  align-items: center;
  justify-content: center;
}

.B-content,
.B-content-value {
  font-size: 12px;
  text-align: center;
}

.B-LIC-signal {
  position: absolute;
  top: 32px;
  font-size: 25px;
}

.B-LIC-text {
  position: absolute;
  bottom: -50px;
  font-size: 20px;
}

.B-to-selection-0 {
  position: absolute;
  left: 75px;
  width: 3px;
  height: 185px; /*change this*/
  background-color: var(--dark);
}

.B-to-selection-0::before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent var(--dark) transparent;
  top: -11px;
  left: 50%;
  margin-left: -10px;
}

.B-to-selection-0::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: var(--dark) transparent transparent transparent;
  bottom: -11px;
  left: 50%;
  margin-left: -10px;
  z-index: 1;
}

.B-to-selection-0-top::before {
  border-color: transparent transparent var(--green) transparent;
}
.B-to-selection-0-top::after {
  border-width: 0px;
}
.B-to-selection-0-bottom::after {
  border-color: var(--green) transparent transparent transparent;
}
.B-to-selection-0-bottom::before {
  border-width: 0px;
}
