.bus-selector {
  position: absolute;
  height: 40px;
  background-color: var(--white);
  align-items: baseline;
  border: 1px solid var(--dark);
  line-height: 40px;
  bottom: 50px;
}

.bus-selector-0,
.bus-selector-1,
.bus-selector-2,
.bus-selector-3,
.bus-selector-4,
.bus-selector-5,
.bus-selector-6,
.bus-selector-7 {
  position: absolute;
}

.bus-selector-1 {
  left: 20px;
}
.bus-selector-2 {
  left: 110px;
}
.bus-selector-3 {
  left: 200px;
}

.bus-selector-6 {
  left: 295px;
}
.bus-selector-0 {
  left: 395px;
}

.bus-selector-7 {
  left: 495px;
}
.bus-selector-4 {
  left: 585px;
}

.bus-selector-5 {
  left: 680px;
}

@media only screen and (min-width: 1300px) {
  .bus-selector {
    width: 100%;
  }
}

@media only screen and (max-width: 1300px) {
  .bus-selector {
    width: 800px;
  }
}

.bus-selector span {
  font-size: 20px;
  display: inline-block;
}

.selection-lines {
  position: absolute;
  bottom: 20px;
  width: 100px;
  text-align: center;
}

.selection-0,
.selection-1,
.selection-2 {
  padding: 5px;
  font-size: 24px;
}

.selection-no {
  position: absolute;
  bottom: 0;
  width: 100px;
  text-align: center;
}

.selection-text-0,
.selection-text-1,
.selection-text-2 {
  padding: 2px;
}

@media only screen and (min-width: 1300px) {
  .selection-no,
  .selection-lines {
    right: -5px;
  }
}

@media only screen and (max-width: 1300px) {
  .selection-no,
  .selection-lines {
    left: 620px;
  }
}
