.common-bus-container {
  height: 600px;
  align-items: center;
}

.common-bus-box {
  overflow-y: auto;
  border: 2px solid var(--dark);
  padding: 10px;
}

.bus-container {
  width: 850px;
}

.bus-implementation-div {
  position: relative;
  height: 500px;
  width: 800px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .common-bus-container {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .common-bus-container {
    width: 90%;
    margin-left: 5%;
  }
}

.bus-value-box {
  position: absolute;
  bottom: 20px;
  color: var(--dark);
  font-weight: bold;
}
