.FLAG-container {
  position: absolute;
  bottom: 425px;
  left: 625px;
}

@media screen and (max-width: 2600px) and (min-width: 1700px) {
  .FLAG-container {
    left: 712px;
  }
}
@media screen and (min-width: 2600px) {
  .FLAG-container {
    left: 1095px;
  }
}
.FLAG-C,
.FLAG-V,
.FLAG-S,
.FLAG-Z {
  display: flex;
  width: 40px;
  height: 20px;
  border: 2px solid var(--dark);
  align-items: center;
  justify-content: center;
}

.ALU-to-C {
  position: absolute;
  top: 10px;
  left: -52px;
  width: 45px;
  height: 2px;
  background-color: var(--dark);
}

.ALU-to-C::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent var(--dark);
  top: 50%;
  left: 100%;
  margin-top: -10px;
  z-index: 1;
}

.ALU-to-C-top::after {
  border-color: transparent transparent transparent var(--green);
}

.ALU-to-V {
  position: absolute;
  top: 30px;
  left: -52px;
  width: 45px;
  height: 2px;
  background-color: var(--dark);
}

.ALU-to-V::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent var(--dark);
  top: 50%;
  left: 100%;
  margin-top: -10px;
  z-index: 1;
}

.ALU-to-V-top::after {
  border-color: transparent transparent transparent var(--green);
}

.ALU-to-S {
  position: absolute;
  top: 50px;
  left: -52px;
  width: 45px;
  height: 2px;
  background-color: var(--dark);
}

.ALU-to-S::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent var(--dark);
  top: 50%;
  left: 100%;
  margin-top: -10px;
  z-index: 1;
}

.ALU-to-S-top::after {
  border-color: transparent transparent transparent var(--green);
}

.ALU-to-Z {
  position: absolute;
  top: 70px;
  left: -52px;
  width: 45px;
  height: 2px;
  background-color: var(--dark);
}

.ALU-to-Z::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent var(--dark);
  top: 50%;
  left: 100%;
  margin-top: -10px;
  z-index: 1;
}

.ALU-to-Z-top::after {
  border-color: transparent transparent transparent var(--green);
}
