.TR-container {
  position: absolute;
  bottom: 350px;
  left: 610px;
}

.TR-box {
  width: 100px;
  height: 40px;
  border: 2px solid var(--dark);
  align-items: center;
  justify-content: center;
}

.TR-content,
.TR-content-value {
  font-size: 12px;
  text-align: center;
}

.TR-LIC-signal {
  position: absolute;
  top: 32px; /*change this*/
  font-size: 25px; /*change this*/
}

.TR-LIC-text {
  position: absolute;
  bottom: -50px;
  font-size: 20px;
}

.TR-to-selection-5 {
  position: absolute;
  left: 75px;
  width: 3px;
  height: 260px; /*change this*/
  background-color: var(--dark);
}

.TR-to-selection-5::before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent var(--dark) transparent;
  top: -11px;
  left: 50%;
  margin-left: -10px;
}

.TR-to-selection-5::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: var(--dark) transparent transparent transparent;
  bottom: -11px;
  left: 50%;
  margin-left: -10px;
  z-index: 1;
}

.TR-to-selection-5-top::before {
  border-color: transparent transparent var(--green) transparent;
}
.TR-to-selection-5-top::after {
  border-width: 0px;
}
.TR-to-selection-5-bottom::after {
  border-color: var(--green) transparent transparent transparent;
}
.TR-to-selection-5-bottom::before {
  border-width: 0px;
}
