.footer-content {
  display: flex;
  justify-content: space-between;
  background: #f5f5f5;
  width: 90%;
  margin-left: 5%;
  font-size: 0.8em;
  border-radius: 20px;
  color: #888;
  align-items: center;
  text-align: center;
}

.pull-left {
  margin-left: 20px;
}

.pull-right {
  margin-right: 20px;
}

.pull-left,
.pull-right a {
  color: #337ab7;
  text-decoration: none;
}
