@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");

:root {
    --dark: #333333;
    --overlay: rgba(0, 0, 0, 0.4)
    --red: #d10808;
    --lightYellow: #c6fd58;
    --green: #699d00;
    --gray: #9d9d9d;
    --white: #ffffff;
    --poppins: "Poppins", sans-serif;

    --activeSignalOn: #ff0000;
    --activeSignalOff: #333333;

    --transferSignalOn: #699d00;
    --transferSignalOff: #333333;

    --activeBoxOn: #c6fd58;
    --activeBoxOff: #ffffff;

    --activeBorderOn: 2px solid #ff0000;
    --activeBorderOff: 2px solid #333333;
}

body.dark-theme {
    /* todo */
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: var(--poppins);
    background-color: var(--white);
}

h3 {
    font-weight: 500;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}