@import url("./global.css");
@import url("./navbar.css");
@import url("./bus/commonBus.css");
@import url("./codeEditor/code.css");
@import url("./codeeditor/model.css");
@import url("./memory/slider.css");
@import url("./memory/table.css");
@import url("./memory/toggle.css");
@import url("./footer.css");
@import url("./bus/busDetails.css");
@import url("./bus/memoryBox.css");
@import url("./bus/AR.css");
@import url("./bus/PC.css");
@import url("./bus/DR.css");
@import url("./bus/B.css");
@import url("./bus/AC.css");
@import url("./bus/ALU.css");
@import url("./bus/INPR.css");
@import url("./bus/FLAG.css");
@import url("./bus/flipflop.css");
@import url("./bus/IR.css");
@import url("./bus/TR.css");
@import url("./bus/OUTR.css");

.body-content {
  margin: 25px;
}

@media only screen and (min-width: 768px) {
  .body-content {
    display: flex;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 768px) {
  .body-content {
    display: block;
  }
}
