.header {
  width: 100%;
  background-color: var(--dark);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--white);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.nav-item {
  margin-left: 2rem;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
}

.header-title {
  color: var(--white);
}

@media only screen and (min-width: 768px) {
  .nav-logo {
    width: 40%;
    margin-left: auto;
  }

  .nav-menu {
    width: 40%;
    margin-left: auto;
    justify-content: right;
  }

  .nav-link {
    font-size: 1rem;
    font-weight: 400;
    color: var(--white);
  }

  .nav-link:hover {
    color: var(--gray);
  }
}

@media only screen and (max-width: 768px) {
  .nav-link {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--white);
  }

  .nav-link:hover {
    color: var(--dark);
  }
  .navbar {
    padding: 1rem;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 4rem;
    flex-direction: column;
    background-color: var(--gray);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 90;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
