/*slider css*/
.slider {
    width: 300px;
    display: flex;
    align-items: center;
}

.slider .slider-input[type="range"] {
    -webkit-appearance: none !important;
    width: 300px;
    height: 10px;
    background: var(--gray);
    outline: none;
}

.slider .slider-input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 20px;
    height: 20px;
    background: var(--green);
    border-radius: 50%;
    cursor: pointer;
}

.slider .slider-input[type="range"]::-webkit-slider-thumb:hover {
    background: var(--green);
}

#sliderValue {
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 20px;
    color: var(--dark);
}

@media screen {
    .slider-input[type='range'] {
        overflow: hidden;
    }

    .slider-input[type='range']::-webkit-slider-thumb {
        box-shadow: -300px 0 0 300px var(--green);
    }
}
